.employee_list-container {
  margin: 20px;
  margin-right: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.employee-list {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); /*30 percent transparency*/
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
  min-width: 600px;
  height: 100%;
  overflow: auto;
  background-color: white;
  box-sizing: border-box;
}

.employee-list::-webkit-scrollbar {
  width: 12px;
}

.employee-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.employee-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

.employee-card {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.12);
  height: 100px;
  width: 550px;
}

.employee-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  display: flex;
  padding-right: 30px;
  align-items: center;
}

.headshot-container {
  display: flex;
  padding-left: 30px;
  align-items: center;
  height: 60px;
}
.headshot-card {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the entire container */
}
