.employee_list-container {
  grid-row: 4/7;
  grid-column: 1;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); /*30 percent transparency*/
  margin: 10px;
  padding: 10px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  max-height: 100vh;
}

.employee-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-top: 0px;
  scroll-behavior: smooth;
}

.employee-list::-webkit-scrollbar {
  width: 12px;
}

.employee-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.employee-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

.employee-list-header {
  position: relative;
  display: flex;
  width: 100%;
  padding-left: 10%;
  margin: 10px;
  box-sizing: border-box;
}

.employee-list-header h3 {
  font-weight: bold;
}

.back-button {
  color: #7e7c7c;
  position: absolute;
  left: 5px;
}

.back-button:hover {
  color: black;
}

.employee-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  border: 1px solid #9e9b9b;
  border-radius: 7px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
  height: 60px;
  width: 80%; /* of employee-list */
  max-width: 1000px;
  background-color: #ffffff;
  cursor: pointer;
}

/*on hover, grey out*/
.employee-card:hover {
  background-color: #b5b3b3;
  transition-delay: 5ms;
}

/*when clicked, use .clicked class selector*/
.employee-card.clicked {
  background-color: #7e7c7c;
}

.employee-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  display: flex;
  padding-right: 30px;
  align-items: center;
}

.headshot-container {
  display: flex;
  padding-left: 30px;
  align-items: center;
  height: 60px;
}
.headshot-card {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.headshot-selected {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
