.formSection {
  height: 100vh;
  background-color: #edeceb;
  display: flex;
}

.FormSection ::-webkit-scrollbar {
  background-color: aqua;
}

/*left side contianer*/
.question-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%; /*100 percent of parent div height*/
  box-sizing: border-box;
  /* min-width: 1000px; */
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /*horizontal alignment*/
  align-items: center; /*vertical alignment*/
  width: 100%;
  height: 265px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  text-align: center;
  margin-top: 10px;
}

.questionRow {
  width: 100%;
  height: 300px;
}

/*questions pane*/
.question-card {
  border-radius: 20px;
  margin: 20px;
  margin-right: 10px;
  background-color: #ffffff91;
  padding: 30px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); /*30 percent transparency*/
  overflow: auto;
  background-color: white;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-header-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}



/*RIGHT SIDE*/
.right-pane{
  display: flex;
  width: 35%;
  flex-direction: column;
}
.employee-info{
  position: relative;
  top: -75px;
  margin: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments{
  position: relative;
  top: -70px;
  margin: 20px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}