.FormSection ::-webkit-scrollbar {
  background-color: aqua;
}

.divide {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: auto;
  height: 100%; /*100 percent of parent div height*/
  min-width: 1000px;
}

.formSection {
  height: 100vh;
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /*horizontal alignment*/
  align-items: center; /*vertical alignment*/
  width: 100%;
  height: 265px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 35px;
  text-align: center;
  margin-top: 10px;
}

.questionRow {
  width: 100%;
  height: 300px;
}

.question-card {
  border-radius: 20px;
  margin: 30px;
  background-color: #ffffff91;
  padding: 40px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); /*30 percent transparency*/
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-header-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
