/* Apply styles to the form container */

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

form {
  width: 300px;
  height: 180px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); /*20 percent transparency*/
  background-color: white;
}

/* Style labels */
label {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}
/* Style input fields */
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  background-color: #fffffd;
}

/*fixed position of the textarea*/
.fixed-textarea {
  position: fixed;
  top: 50px;
}

/* Style the submit button */
button {
  background-color: #4caf50;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover effect on the button */
button:hover {
  background-color: #45a049;
}

