/* Right section of manager page */
.interactions-section {
  grid-area: 3 / 2 / -1 / -1;
  width: 50%;
  padding: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.selected-employee-container {
  grid-column: 2/3;
  grid-row: 3/5;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  max-height: 350px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  margin-top: 0;
}

.selected-employee{
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  flex: column;
  justify-content: space-around;
  align-items: center;
}


.attachments-container {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* margin-top: 15%; */
  margin: 10px;
}

.previous-years-container {
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  margin: 10px;
}

.performance-review-button {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #4caf50;
  color: white;
  padding: 5px 15px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 100%;
}

/* Hover effect on the button */
.performance-review-button:hover {
  background-color: #45a049;
}

.readonly-performance-review-button {
  position: absolute;
  top: 180px;
  transform: translate(0, -50%);
  background-color: #4f5050;
  color: white;
  padding: 5px 15px;
  margin: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

/* Hover effect on the button */
.readonly-performance-review-button:hover {
  background-color: #4f5050;
}

.performance-review-button-container {
  height: 100%;
  align-items: center;
}