.manager-section {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: #edeceb;
}

/*go button container*/
.go-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
