/*nav*/
.navbar {
  margin: 0;
  background-color: #446bec;
  padding: 15px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

/*ul*/
.nav-list {
  list-style: none;
}

/*li*/
.nav-list li {
  display: inline-block;
  margin: 0 10px;
}

/*a*/
.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
  background-color: #555;
}

.dashboard {
  height: 50px;
  width: 100%;
  background-color: #446bec;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
}
