.starRanking {
    background-color: #fff;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: left;
    flex-direction: column
  }
  
  .category{
    background-color: #fff;
    margin: 0;
    padding-left: 20px;
    display: flex;
    align-items: left;
    flex-direction: row
  }
  
  .text{
    display: flex;
    flex-direction: column;
    padding: 10px;
  } 

  .ratings{
    display: flex;
    flex-direction: row;
    align-items: left;
  } 

  .starScroll{
    height: 85%;
  overflow-x: auto;
  box-sizing: border-box;
  margin-bottom: 10px;
  scroll-behavior: smooth;
  height: 275px;
  display: flex;
  flex-direction: row;
  }

  .subratings{
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .totals{
    display: flex;
    flex-direction: column;
    align-items: left;
    width:210px;
  }
  .bothTotals{
    display: flex;
    flex-direction: row;
    align-items: left;
  }