.statusPane {
  background-color: #fff;
  height: px;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column
}

.status{
  background-color: #fff;
  height: px;
  margin: 0;
  padding-left: 20px;
  display: flex;
  align-items: left;
  flex-direction: row;
}

.statusButton {
  display: flex;
  flex-direction: column;
}