.topbar {
  min-height: 60px;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.headshot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.topbar .name {
  padding-left: 10px;
}

.profile-side {
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  width: 50%;
  padding-right: 70px;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile .name {
  align-items: center;
}

.northwind-logo {
  width: 50%;
  padding-left: 30px;
  box-sizing: border-box;
}

.topbar .name {
  padding-left: 10px;
}
