.topbar {
  min-height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #535353;
  box-sizing: border-box;
}

.headshot {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.topbar .name {
  padding-left: 10px;
}

.profile-side {
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  width: 50%;
  padding-right: 70px;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile .name {
  align-items: center;
}
.profile .name p {
  color: #ffffff;
}

.northwind-logo-container {
  width: 50%;
  padding: 5px;
  padding-left: 30px;
  box-sizing: border-box;
}

.northwind-logo {
  width: 20%;
  height: auto; /*aspect ratio preserved*/
}
