/* YearCard.css */

.year-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .year-card {
    width: 60px; /* Adjust the width */
    height: 80px; /* Adjust the height */
    background-color: #f0f0f0;
    border: 2px solid #555;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Adjust font size */
    font-family: 'Bubble', sans-serif; /* Custom bubble font */
    margin-right: 20px; /* Increase the right margin */
    border-width: 3px; /* Increase the border width */
    cursor: pointer; /* Add pointer cursor to indicate clickable */
    transition: background-color 0.3s ease;
  }
  
  .year-card-button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid #555;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    position: relative; /* Set position to relative */
    border-width: 3px; /* Increase the border width */
  }
  
  .year-card-button::before {
    content: ''; /* Add content to the pseudo-element */
    position: absolute; /* Position the pseudo-element */
    width: 20px; /* Set desired width */
    height: 20px; /* Set desired height */
    background-color: #ccc; /* Set background color */
    border-radius: 50%; /* Make it circular */
    top: 50%; /* Position it vertically */
    left: 50%; /* Position it horizontally */
    transform: translate(-50%, -50%); /* Center it */
  }
  
  .year-card.selected, /* Apply styles when selected */
  .year-card-container.selected .year-card-button { /* Apply styles to the button when selected */
    background-color: #2b2648; /* Dark purple-blue color for selected state */
    color: #ffffff; /* White text color for better visibility */
  }
  
  .year-card-button:hover {
    background-color: #ccc;
  }
  