.slick-slide 
{
    margin-right: 10px; /* Adjust the margin as needed */
}

.year-box-container {
  display: flex;
  justify-content: space-between;
  margin: 10px; /* Adjust the margin as needed */
}

/* Add some styling for the selected button */
.year-box-container button.selected {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
}

.year-slider-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px; /* Set a minimum width for the container */
    max-height: 300px;
    overflow-y: auto;
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    padding: 10px;
    white-space: nowrap; /* Prevent line breaks in the button stack */
  }
.button-stack {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
  }
  
  .button-stack button {
    padding: 8px;
    margin: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button-stack button.selected {
    background-color: #0056b3;
  }